html,body{
    height:100%;
    margin: 0;
    padding:0;
    border:0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5{
    margin: 0px;
}
.btn{
    display: block;
    background: #000;
    color: #fff;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    outline:none;
    font-size: 24px;
    line-height: 60px;
}
.pCenter{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
/*
*pageTitle
*/
.pageTitle{
    font-size: 40px;
    text-align: center;
    color: black;
    white-space: nowrap;
}
.main{
    overflow: hidden;
    position: absolute;
    top:0;
    bottom:80px;
    left:0;
    right:0;
}
/*footer布局*/
.footer{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 80px;
}
.footer .tip{
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    line-height: 40px;
    float: left;
}
.footer .selecter{
    margin: 0;
    font-size: 24pt;
}
.footer .btn{
    margin-left: auto;
    margin-top: 10px;
}
/*
*form
*/
.myForm{
    margin-top: 80px;
}
.myForm .label{
    text-align: center;
    display: block;
    font-size: 38px;
}
.myForm .input{
    width: 480px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border:2px solid rgb(0,0,0);
    font-weight: 700;
    margin: 10px 0px;
}
.myForm .btn{
    margin: auto;
}
/*list布局*/
.list{
    width: 100%;
    height: 100%;
}
.list img{
    float: left;
    box-sizing: border-box;
    display: block;
    width: 25%;
    height: 50%;
}
.list img.active{
    border:2px solid #000;
}

